patrik_toulec.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Uzivatel">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="login"/>
        <xs:element type="xs:string" name="team"/>
        <xs:element type="xs:string" name="EST."/>
        <xs:element type="xs:int" name="coins"/>
        <xs:element type="xs:short" name="FIFApoints"/>
        <xs:element type="xs:byte" name="vyhry"/>
        <xs:element type="xs:byte" name="prohry"/>
        <xs:element name="ovladani">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ovladaniUtok">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nahoru"/>
                    <xs:element type="xs:string" name="dolu"/>
                    <xs:element type="xs:string" name="doleva"/>
                    <xs:element type="xs:string" name="doprava"/>
                    <xs:element type="xs:string" name="prepnutiHrace"/>
                    <xs:element type="xs:string" name="sprint"/>
                    <xs:element type="xs:string" name="nahravkaDobehu"/>
                    <xs:element type="xs:string" name="centr"/>
                    <xs:element type="xs:string" name="nahravka"/>
                    <xs:element type="xs:string" name="strela"/>
                    <xs:element type="xs:string" name="technickaStrela"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ovladaniObrana">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nahoru"/>
                    <xs:element type="xs:string" name="dolu"/>
                    <xs:element type="xs:string" name="doleva"/>
                    <xs:element type="xs:string" name="doprava"/>
                    <xs:element type="xs:string" name="prepnutiHrace"/>
                    <xs:element type="xs:string" name="sprint"/>
                    <xs:element type="xs:string" name="vybehBrankare"/>
                    <xs:element type="xs:string" name="skluz"/>
                    <xs:element type="xs:string" name="souboj"/>
                    <xs:element type="xs:string" name="technickaStrela"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nastaveniObrazu">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rozliseni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullHD1920x1080">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UXGA1600x900">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="HD1280x720">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="zobrazeni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vOkne">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="FullScreen">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="vykresleni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="auto">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="nizke">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="stredni">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="vysoke">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MSAA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="automatic">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="vypnute">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="x2x">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="x4x">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="frekvenceSnimku">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fps30">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fps60">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="bezLimitu">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nastaveniZvuku">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hlasoviChat">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="zapnout">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="vypnout">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="zvukovyKanal">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="STEREO">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DolbyDigital5.1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DolbyDigital7.1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="enable"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>